---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { Image } from 'astro:assets'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="wrapper py-12">
      <nav>
        <button
          onclick="window.history.back()"
          title="Go to previous page"
          class="cursor-pointer rounded-full bg-slate-800 p-2 text-sm text-slate-400 transition-colors hover:text-slate-200"
        >
          <svg viewBox="0 0 24 24" width="24" height="24"
            ><path
              fill="currentColor"
              d="M15.41 7.41L14 6l-6 6l6 6l1.41-1.41L10.83 12z"></path></svg
          >
        </button>
      </nav>

      <article class="prose prose-slate prose-invert mx-auto mt-6">
        {
          heroImage && (
            <Image
              width={1020}
              height={510}
              src={heroImage}
              alt=""
              class="aspect-video rounded-2xl object-cover object-center"
            />
          )
        }

        <div
          class="-mt-4 flex flex-wrap items-center justify-between text-sm text-slate-400"
        >
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="text-xs">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>

        <h1 class="mt-6">{title}</h1>
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
